<!DOCTYPE html>
<html>
<head>
    <%- include("head.ejs") %>

</head>
<body id="body" onload="startFilm();vsechnyFilmy();">
    <header>
        <%- include("header.ejs") %>
    </header>
    <div class="helper">
    </div>
    <main >
        <%- include("main.ejs") %>
    </main>
</body>
    <%- include("scripts.ejs") %>
    <script src="/public/resize.js"></script> 
    <script>document.querySelector("#li_login").textContent = "odhlásit se";</script>
</html>
