<div class="fixed">
    <div class="header" style="align-items: center;">
    <img src="/public/img/film.png" width="50px" height="50px">
    <h1 style="text-align: left;" >Všechny Filmy</h1>
    <ul style="flex:1;">
        <a href="/filmy"><li>filmy</li></a>
        <a href="/login"><li id ="li_login"></li></a>
    </ul>
    </div>