<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="/public/style.css">   
<link rel="stylesheet" href="/public/film.css">    
<link rel="stylesheet" href="/public/okno.css">   
<title>Rezervace</title>