<!DOCTYPE html>
<html>
<head>
    <%- include("head.ejs") %>
</head>
<body id="body">
    <header>
        <%- include("header.ejs") %>
    </header>
    <div class="helper">
    </div>
    <main >
        <div class="zaklad">
            <div style="width:1000px;min-height:500px;height:auto;display:flex;flex-flow:column;justify-content: center;align-items: center;background:var(--reversebackground);border-radius:15px;padding:0 20px;">
            <h1 style="color:white;font-size:80px;flex:1.5;margin-top:100px">VSECHNY FILMY</h1>
            <p style="color:white;flex:2">Na jednom místě. Na jedno kliknutí.</p>
            </div>
        </div>
    </main>
</body>
    <%- include("scripts.ejs") %>
    <script>document.querySelector("#li_login").textContent = "přihlásit se";</script>
</html>
